html
    font-size: 100%;

header 
    width: 100%;
    height: 42rem;
    background-color: #082841;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 64rem)
        width: 64rem;
        height: 48rem;
    @media screen and (max-width: 48rem) 
        width: 48rem;
        height: 64rem;
    @media screen and (max-width: 21rem)
        width: 21rem;
        height: 40.5rem;
    
    div 
        &.head_photo
            img
                width: 34.5rem;
                height: 42rem;
                @media screen and (max-width: 64rem)
                    width: 26.5rem;
                    height: 40rem;
                @media screen and (max-width: 48rem)
                    width: 24rem;
                    height: 24rem;
                    border-radius: 192px;
                    position: absolute;
                    margin-top: 14rem;
                    margin-left: 12rem;
                @media screen and (max-width: 21rem)
                    margin-top: 10rem;
                    width: 9rem;
                    height: 9rem;
                    margin-left: 5.95rem;
    div
        &.header_information
            font-family: Helvetica, Bold;
            color: white;
            padding-left: 4rem;
            padding-top: 10px;
            
            h1
                font-size: 2rem;
                @media screen and (max-width: 48rem)
                    padding-left: 200px;
                @media screen and (max-width: 21rem)
                    padding-left: 10px;
            h2 
                font-size: 1rem;
                @media screen and (max-width: 48rem)
                    padding-top: 10px;
                    padding-left: 210px;
                @media screen and (max-width: 21rem)
                    padding-left: 18px;
            
            p
                font-family: Georgia;
                font-size: 20px;
                line-height: 28px;
                padding-top: 150px;
                width: 34rem;
                height: 12.25rem;
                @media screen and (max-width: 75rem)
                    width: 29rem;
                    height: 15.75rem;
                @media screen and (max-width: 48rem)
                    width: 34rem;
                    padding-top: 35rem;
                    padding-left: 50px;
                    text-align: center;
                @media screen and (max-width: 21rem)
                    font-size: 1rem;
                    width: 14rem;
                    height: 9rem;
                    padding-left: 0;
                    padding-top: 12rem;
                    text-align: center;
                    line-height: 18px;
            
        
section 
    width: 944px;
    height: 40rem;
    @media screen and (width: 48rem)
        width: 48rem;
    @media screen and (width: 21rem)
        width: 21rem;
        height: 85rem;
    h1
        &.shri_expectation, &.summary
                position: relative;
                font-family: Helvetica,Bold;
                color: black;
                font-size: 2.5rem;
                line-height: 3rem;
                width: 23.19rem;
                height: 3rem;
                margin: 0;
                padding: 6.63rem 0px 2.38rem 15.5rem;
                @media screen and (max-width: 64rem)
                    padding-left: 2.5rem;
                @media screen and (max-width: 48rem)
                    font-size: 2rem;
                    padding-left: 1rem;
                @media screen and (max-width: 21rem)
                    padding-left: 1rem;
                    width: 20rem;
                
           
    
    div
        &.flex_container
            display: flex;
            padding: 0;
            flex-wrap: wrap;
            width: 59rem;
            height: 28rem;
            margin-left: 15.5rem;
            background-color: #E6F0F0;
            
            @media screen and (max-width: 64rem)
                width: 59rem;
                margin-left: 2.5rem;
            @media screen and (max-width: 55rem)
                width: 44rem;
                height: 28rem;
                padding: 0;
                margin-right: 0;
            @media screen and (max-width: 21rem)
                display: flex;
                flex-direction: column;
                width: 19rem;
                height: 78rem;
                margin-left: 1rem;
                
            h3
                font-family: helvetica, bold;
                font-size: 1.5rem; 
                padding:0;
                margin-top: 0;
                padding-top: 1.56rem;
                padding-left: 2rem;
            
            p
                size: 1rem;
                padding-left: 2rem; 
                font-family: Georgia;
                word-wrap: break-word;

                    
        div
            &.Exknowledge, &.university
                width: 34rem; 
                word-wrap: break-word;
                border-right: 7px solid white;
                border-bottom: 7px solid white;
                @media screen and (max-width: 48rem)
                    width: 25rem;
                    height: 14rem;
                @media screen and (max-width: 21rem)
                    width: 19rem;
                    height: 19rem;
                
                p 
                    width: 19rem;
                    @media screen and (max-width: 21rem)
                        width: 16rem;

        div
            &.experience, &.knowledge
                width: 24.55rem;
                border-bottom: 7px solid white;
                word-wrap: break-word;
                @media screen and (max-width: 48rem)
                    width: 18.54rem;
                    height: 14rem;
                @media screen and (max-width: 21rem)
                    width: 19rem;
                    height: 19rem;

                p
                    width: 304px;
                    height: 50px;
                    @media screen and (max-width: 48rem)
                        width: 16rem;
                        height: 100px;


        div
            &.teacher, &.programs
                width: 30rem;
                word-wrap: break-word;
                @media screen and (max-width: 48rem)
                    width: 16rem;
                    height: 14rem;
                @media screen and (max-width: 21rem)
                    width: 19rem;
                    height: 19rem;
                
                p   
                    width: 232px;
                    height: 50px;
                    
                    
                   
        div
            &.employment,&.language
                width: 27rem;
                border-left: 7px solid white;
                word-wrap: break-word;
                @media screen and (max-width: 48rem)
                    width: 27rem;
                    height: 14rem;
                @media screen and (max-width: 21rem)
                    width: 19rem;
                    height: 19rem;
                    border-left: none;
                    border-top: 7px solid white;
                
                p
                    width: 200px;
                    height: 50px;
                    @media screen and (max-width: 48rem)
                        width: 250px;
                        height: 200px;
                       

footer 
    width: 100%;
    position: relative;
    margin-top: 8.94rem;
    background-color: #E6F0F0;
    height: 49.69rem;
    @media screen and (max-width: 64rem)
        width: 1024px;
    @media screen and (max-width: 48rem)
        width: 768px;
        height: 819px;
    @media screen and (max-width: 21rem)
        width: 336px;
        height: 960px;
    div
        &.footer_inf
            display: flex;
            width: 500px;
            flex-direction: column;
            justify-content: flex-start;
            padding-left: 15.5rem;
            @media screen and (max-width: 64rem)
                padding-left: 2rem;
            @media screen and (max-width: 21rem)
                width: 19.13rem;
                padding-left: 0.88rem;

        p
            width: 300px;
         
       

    div
        &.soc-network
            width: 304px;
            padding-left: 15.5rem;
            font-size: 24px;
            font-weight: bold;
            @media screen and (max-width: 64rem) 
                padding-left: 2.5rem;
            @media screen and (max-width: 48rem) 
                position: absolute;
                padding-left: 28rem;
                top: 70px;
            @media screen and (max-width: 21rem)
                padding-left: 0.88rem;
                padding-top: 140px;
            h5
                @media screen and (max-width: 48rem) 
                    display: none;
                
            ul
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                list-style-type: square;
                color: #87CEEB;
                border-radius: 2px;
                line-height: 30px;
    
    li span
        color: #DD3E18;
        font-size: 20px;
        vertical-align: middle;
    
    a
        text-decoration: none;
    
    form
        position:absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 34rem;
        height: 25rem;
        top: 390px;
        right: 150px;
        @media screen and (max-width: 64rem) 
            right: 40px;
            top: 390px;
        @media screen and (max-width: 48rem) 
            left: 32px;
            right: 20px;
        @media screen and (max-width: 21rem)
            width: 304px;
            top: 500px;
            left: 13px;
           

        input[type = 'text']
            width: 34rem;
            height: 3rem;
            @media screen and (max-width: 48rem) 
                width: 700px;
            @media screen and (max-width: 21rem)
                width: 304px;
            
        textarea
            resize: none;
            padding: 0;
            width: 34rem;
            height: 12rem;
            @media screen and (max-width: 48rem) 
                width: 702px;
            @media screen and (max-width: 21rem)
                width: 306px;
            
        button 
            width: 34.2rem;
            height: 3.06rem;
            padding:0;
            color: white;
            background-color: #DD3E18;
            @media screen and (max-width: 48rem) 
                width: 704px;
            @media screen and (max-width: 21rem)
                width: 308px;
